ACTION=="add", KERNEL=="system_bus_freq", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="cpu_dma_latency", OWNER="system", GROUP="system", MODE="0660"
ACTION=="add", KERNEL=="htc-acdb", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_audio_dev_ctrl", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_acdb", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_pcm_lp_dec", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="codec_aic3254", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="pmem_adsp*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="gemini*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="/dev/adsp/*", OWNER="system", GROUP="audio", MODE="0660
ACTION=="add", KERNEL=="snd/*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_pcm_out*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_pcm_in*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_mp3*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="htc-acoustic", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_vidc_reg", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_vidc_dec", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_vidc_enc", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="tpa2051d3", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="control0", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="controlC0", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="pmem_audio", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="tpa2051d3", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="pmem_smipool", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_camera/*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_rotator", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="pvrsrvkm*", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="kgsl-2d0*", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="kgsl-3d0*", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="kgs1-2d1*", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="lm8502", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="pmem", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="genlock", OWNER="system", GROUP="graphics", MODE="0666"
ACTION=="add", KERNEL=="ttyHS0", OWNER="bluetooth", GROUP="bluetooth", MODE="0600"
ACTION=="add", KERNEL=="/dev/snd/*", OWNER="system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="/dev/video20", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="video20", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="video20", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="/dev/input/*", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="event2", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="event1", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="event0", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="isl29023*", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="lsm303dlh*", OWNER="system", GROUP="system", MODE="0666"
ACTION=="add", KERNEL=="pmic8058*", OWNER="system", GROUP="system", MODE="0666"




