[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=qmlscene /usr/share/ubuntu-terminal-app/ubuntu-terminal-app.qml
Icon=/usr/share/ubuntu-terminal-app/terminal64.png
Name=Terminal
X-Ubuntu-Touch=true

